.main-container
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.sidenav-menu
  padding: 12px 15px

.main-header
  position: fixed
  top: 0
  left: 0
  right: 0

.global-spacer
  flex: 1 1 auto

.title
  margin-left: 15px
